body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #6c7279;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/*************** CONTAINER ***************/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*************** HEADER ***************/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.fixed {
    position: fixed;
    background-color: #242947;
    height: auto;
    .header__inner {
        border: none;
        padding: 15px 0;
    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px 0;
    border-bottom: 1px solid #51546a;
}

/********** NAVIGATION **********/

.nav {
    display: flex;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 40px;
    padding: 10px;

    color: white;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.2s;
    transition: 0.4s;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/****** INTRO ********/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    padding-top: 100px;

    background: url(images/logo/intro.png) center no-repeat;
    background-size: cover;
    background-color: #242947;
}

.intro__title {
    margin: 0 0 30px 0;

    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: white;

    line-height: 1.1;
    text-transform: uppercase;
}

.intro__inner {
    text-align: center;

    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}

.intro__subtitle {
    margin-bottom: 75px;

    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
}

/*********** BUTTON ***********/

.btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    padding: 14px 40px;
    border-radius: 2px;
    border: 0;

    cursor: pointer;

    font-family: inherit;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.2s;
}

.btn,
.btn--red {
    background-color: #ff4343;

    &:hover {
        background-color: #dd3434;
    }
}

.btn__long {
    min-width: 280px;
}

/*************FEATURES************/

.features {
    display: flex;
    flex-wrap: wrap;

    margin: 85px 0;
}

.features__item {
    width: 33.33333%;

    padding: 0 40px;
    margin: 35px 0;

    text-align: center;
}

.features__icon {
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/************WORKS*************/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.works__image {
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;

    transition: all 0.3s;
}

.works__item:hover .works__content {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.works__title {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}

/************TEAM***********/

.team {
    margin: 100px 0 70px 0;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 30px 30px 0;
}

.team__name {
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.team__pos {
    margin-bottom: 30px;

    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}

/******************SOCIAL******************/

.social {
    display: flex;
}

.social__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 4px;
    border: 1px solid #c6cbcd;
    transition: 0.4s;
}

.social__item:hover {
    background-color: darkgrey;
}

.social__item:hover .social__icon {
    fill: #e84545;
    transition: 0.4s;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cbcd;
    transition: 0.4s;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
    transition: 0.5s;
}

.social--footer .social__icon {
    fill: #fff;
}

/****************REVIEWS****************/

.reviews {
    overflow: hidden;
    background-color: #5c3249;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    width: 50%;
}

.reviews__text {
    font-family: "Cardo", serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.12;
    color: #fff;
    margin-bottom: 29px;
}

.reviews__author {
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 20px;
}

.download__text {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    color: #2d3033;
    text-transform: uppercase;

    margin-bottom: 40px;
}

/*************FOOTER************/

.footer {
    background-color: #353c65;
}

.footer__inner {
    padding: 70px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    width: 33.33333%;

    text-align: center;
}

.footer__item:last-child {
    max-width: 330px;
}

.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__address,
.footer__about {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5;
    font-style: normal;
    font-size: 14px;
}

.footer__address p {
    margin: 5px;
}

/*************COPYRIGHT**************/

.copyright {
    background-color: #2c3154;
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    color: grey;
}

.copyright__text span {
    color: white;
}

.copyright__text b {
    color: #ff4343;
}

/****************burger***************/

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 1;

    background-color: #fff;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

/***************MEDIA****************/

@media (min-width: 1025px) {
    .works__item {
        &:nth-child(4n) {
            border-right: none;
        }
    }
}

@media (max-width: 1024px) and (min-width: 992px) {
    .works {
        .works__item {
            width: 33.33333%;
            flex-grow: 1;

            &:nth-child(3n),
            &:last-child {
                border-right: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .nav {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        width: 40%;
        flex-direction: column;
        text-align: center;
        padding: 10px 20px;
        background-color: rgba(36, 41, 71, 0.9);
        border-bottom-left-radius: 10px;
    }

    .navShow {
        display: flex;
    }

    .nav__link {
        margin: 0;
        &:not(:last-of-type) {
            border-bottom: 1px solid rgba(101, 105, 128, 0.7);
        }
    }

    .burger {
        display: block;
    }

    .intro__title {
        font-size: 50px;
        margin-bottom: 60px;
    }

    .features__item {
        width: 50%;
    }

    .team__pos {
        font-size: 12px;
    }

    .works {
        .works__item {
            width: 50%;

            &:nth-child(even) {
                border-right: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .intro {
        height: 100vh;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 10vh;
    }

    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 7vh;
    }
    .features {
        margin-top: 76px;
        justify-content: center;

        .features__item {
            width: 90%;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .works {
        .works__item {
            width: 100%;
            border-right: none;
        }
    }

    .team {
        margin-bottom: 0;

        .team__item {
            width: 100%;
            height: 86vh;
            text-align: center;
            margin-bottom: 7vh;
        }

        .team__img {
            margin: 0 auto 25px;
            width: 90%;
            height: auto;
        }

        .team__text {
            font-size: 16px;
        }

        .social {
            justify-content: center;
            margin-top: 7%;
        }
    }

    .reviews {
        * {
            padding-right: 0;
            padding-left: 0;
        }

        .reviews__item {
            flex-direction: column;
            height: 100vh;
            align-items: center;
        }

        .reviews__photo {
            width: 100%;
            margin-bottom: 5%;

            .reviews__img {
                right: -35%;
            }
        }

        .reviews__content {
            width: 100%;
            margin-top: 10%;
        }

        .reviews__text {
            margin-left: 3vw;
            font-size: 30px;
        }

        .reviews__author {
            text-align: right;
            margin-right: 3vw;
        }
    }

    .social--footer {
        order: 2;
    }

    .footer__inner {
        padding: 5vh 0;
        justify-content: space-around;

        .footer__item {
            width: 40%;

            &:nth-of-type(2) {
                order: 1;
            }

            &:not(:nth-of-type(2)) {
                margin-bottom: 5vh;
            }
        }
    }
}

@media (max-width: 321px) {
    .team {
        .team__item {
            height: 100vh;
        }
        .team__name {
            font-size: 18px;
        }

        .team__pos {
            margin-bottom: 20px;
        }

        .team__img {
            margin-bottom: 15px;
        }
    }
    .reviews {
        .reviews__item {
            height: 150vh;
        }

        .reviews__content {
            margin-top: 15%;
        }
    }
}
